<footer class="footer">
  <small>
    Desenvolvido por Lucas Fellipe e Eugênio Sales
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="https://exame.abril.com.br/noticias-sobre/hospitais/">Novidades</a></li>
    </ul>
  </nav>
</footer>
