<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hospital do Gama", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Início",    root_path %></li>
        <li><%= link_to "Trabalhe conosco",    help_path %></li>
        <li><%= link_to "", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
