<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Digite o nome do Paciente" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :"Sexo do Paciente" %>
    <%= select("paciente", "sexo", ['Masculino', 'Feminino'], {include_blank: "Selecione"}) %>

  </div>

 
  <div class="field">
    <%= form.label :"Idade do Paciente" %>
    <%= form.number_field :idade %>
  </div>

  <div class="field">
    <%= form.label :"Telefone para contato" %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :"Endereço do Paciente" %>
    <%= form.text_field :endereco %>
  </div>

  <div class="actions">
    <%= form.submit "Confirmar cadastro do paciente", class: "btn btn-primary" %>
  </div>
<% end %>
