<p id="notice"><%= notice %></p>

<u><h1>Pacientes</h1></u>

<table>
  <thead>
    <ul>
      <li>Nome do paciente</li>
      <li>Sexo do paciente</li>
      <li>Idade do paciente</li>
      <li>Telefone do paciente</li>
      <li>Endereço do paciente</li>
    </ul>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <dl>
      <dt> <b>Dados do paciente</b> </dt>
        Nome do Paciente: <%= paciente.nome %></br>
        Sexo do Paciente: <%= paciente.sexo %></br>
        Idade do Paciente: <%= paciente.idade %></br>
        Telefone do Paciente: <%= paciente.telefone %></br>
        Endereço do Paciente: <%= paciente.endereco %></br>
        <dd><%= link_to 'Mostrar dados do paciente', paciente %></dd>
        <dd><%= link_to 'Alterar os dados do paciente', edit_paciente_path(paciente) %></dd>
        <dd><%= link_to 'Remover paciente do banco de dados', paciente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </dl>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar paciente', new_paciente_path %>
