<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @paciente.sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @paciente.idade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @paciente.telefone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @paciente.endereco %>
</p>

<%= link_to 'Alterar os dados do paciente', edit_paciente_path(@paciente) %> |
<%= link_to 'Voltar', pacientes_path %>
