<u><h1>Menu de Agendamento e Consulta</h1></u>
<p><b><font color=#4682B4> Seja bem-vindo:  <%= current_usuario.email %> </p></b></font color>


<div>
	 <%= link_to "Agendar consulta", consulta_path, class: "btn btn-lg btn-primary" %>
	 <%= link_to "Cadastro de pacientes", pacientes_path, class: "btn btn-lg btn-primary" %>
	 <%= link_to "Cadastro de Médicos", medicos_path, class: "btn btn-lg btn-primary" %>
	 <%= link_to "Listagem de Usuarios", controle_usuarios_index_path, class: "btn btn-lg btn-primary" %>
	 <%= link_to "Sair", destroy_usuario_session_path, method: :delete, class: "btn btn-lg btn-primary" %>
</div>

