<p id="notice"><%= notice %></p>

<u><h1>Listagem de Usuários</h1></u>

<table>
  <tr>
    <th> E-mail </th>
      <th>Nível de permissão</th>
    </tr>

  <tr>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.email %></td>
        <td><%= usuario.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
