// Place all the styles related to the Consulta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table th {
    text-align: left;
    background-color: #3a6070;
    color: #FFF;
    padding: 4px 30px 3px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}