<h1><u>Cadastre-se</h1></u>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :"Digite seu e-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"Digite a senha" %>
    <% if @minimum_password_length %>
    <em>(<%=  %> No mínimo 6 caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"Confirme sua senha"%><br />
    <%= f.password_field :"Confirme sua senha", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastre-se", class: "btn btn-info" %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
