<h1>Administracao</h1>
<p>Cadrasto de secretarios</p>

<%= current_usuario.email %>

<div>
	 <%=  link_to "Cadrasto de novo Secretário", new_usuario_registration_path, class: "btn btn-lg btn-primary" %>
	
</div>