<u><h1>Entrar</h1></u>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :"Digite seu e-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "E-mail" %>
  </div>

  <div class="field">
    <%= f.label :"Digite sua senha" %><br />
    <%= f.password_field :password, autocomplete: "Senha atual" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"Lembrar-me" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar", class: "btn btn-success"%>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
