<% provide(:title, "About") %>
<font color=#4682B4>
<h1><u>Hospital do Gama</u></h1>
<p>
  <font size=5>O <b>Hospital do Gama</b> tem uma estrutura ampla, moderna e confortável, 
  que concentra consultórios médicos e clínicas especializadas.</font size>
</p>
<br>
</br>
<p>
Localizado em frente à Universidade de Brasília(UnB - FGA), possui convênio com mais de 60 planos de saúde e é referência de atendimento
em mais de 18 especialidades.
</p>
<br>
</br>

<b><font size=4>Central de Agendamento de Consultas:</font size></b>
<br/>
<br/>
<p>
<b>(61) 3704-9006 / 3704-9007</b><br/>
Domingo a domingo, das 7h às 19h
</p>

<br/>
<br/>
<b><font size=4>Horário de Atendimento para consultas:</font size></b>
<br/>
<br/>
<p>
Segunda a quinta, das 8h às 18h | Sexta, das 8h às 17h
</p>

<br/>
<br/>
<b><font size=4>Endereço:</font size></b>
<br/>
<br/>
<p>
St. Leste Projeção H - Gama Leste, Brasília - DF, 72444-240 (Em frente à Universidade de Brasília(UnB - Gama))
</p>

<br/>
<br/>
<b><font size=4>Especialidades médicas atendidas:</font size></b>
<br/>
<br/>
<b><font size=3>Adulto</font size></b>
<br/>
<br/>
<ul>
<li>Cardiologia</li>
<li>Cirurgia de Cabeça e Pescoço</li>
<li>Cirurgia Geral</li>
<li>Cirurgia Oncológica e do Aparelho Digestivo</li>
<li>Cirurgia Vascular</li>
<li>Cirurgia Plástica</li>
<li>Clínica Médica</li>
<li>Dermatologia</li>
<li>Endocrinologia</li>
<li>Gastroenterologia</li>
<li>Ginecologia</li>
<li>Hematologia</li>
<li>Hepatologia</li>
<li>Mastologia</li>
<li>Medicina do Viajante</li>
<li>Nefrologia</li>
<li>Neurologia</li>
<li>Nutrologia</li>
<li>Oncologia Clínica</li>
<li>Ortopedia</li>
</ul>
<br/>
<br/>
<b><font size=3>Pediátricas</font size></b></b>
<br/>
<br/>
<ul>
<li>Alergologia</li>
<li>Cirurgia Pediátrica</li>
<li>Gastroenterologia</li>
<li>Neurologia</li>
<li>Nutrologia</li>
<li>Ortopedia</li>
<li>Pediatria Geral</li>
</ul>



</font color>