<% provide(:title, 'Contact') %>
<font color=#4682B4>
<u><h1>Contatos</h1></u>
<p>
  <font size=4>
  <b>CENTRAL DE ATENDIMENTO</b>
  </font>
  <br>
  <b>(61) 3301-8909</b>
  <br>
  <br>
  <br>
    <font size=4>
      <b>CENTRAL DE AUTORIZAÇÃO</b>
    </font>
    <br>
      <b>(61) 3704-9000 - Opção 1 e depois opção 1</b>
    <br>
    <br>
    <br>
    <font size=4><font color="">
      <b>AGENDAMENTO CIRÚRGICO</b>
    </font> </font>
    <br>
      <b>(61) 3704-9000</b>
    <br>
</p>

</font color>

