<% provide(:title, "Trabalhe Conosco") %>
<font color=#4682B4><u><h1>Trabalhe Conosco</h1></u>
<p>
<font size=4><b>Venha fazer parte do nosso time!</b></font size>
<br/>
<br/>
<b><font size=4>Nós, do Hospital do Gama, ficamos felizes que você queira fazer parte de nosso time. Agende uma entrevista ligando para o número (61) 3389-4934 e traga seu currículo.</b>
</font size>
</p>
</font color>