<div class="center jumbotron">
  <h1>  <font color=#4682B4> Seja bem-vindo ao hospital do Gama </font color> </h1> 

  <h2>
     AGENDE UMA CONSULTA
    
  </h2>
  	<% if usuario_signed_in? %>
 		<%=  link_to "Sair", destroy_usuario_session_path, method: :delete, class: "btn btn-lg btn-primary" %>	
 		<%=  link_to "Menu", secretaria_index_path, class: "btn btn-lg btn-primary" %>	

 	<% else %>
 		<%= link_to "Entrar", secretaria_index_path, class: "btn btn-lg btn-primary" %>
 		<%=  link_to "Cadastre-se", new_usuario_registration_path, class: "btn btn-lg btn-primary" %>
 	<% end %>
  <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>
 <div>
 </div>
