<u><h1>Reenviar instruções de confirmação</h1></u>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :"Digite o seu e-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "e-mail", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar instruções de confirmação" %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
