<p id="notice"><%= notice %></p>

<u><h1>Consultas</h1></u>

<table>
  <thead>
    <ul>
<li>Horário</li>
<li>Data da consulta</li>
<li>Médico responsável</li>
<li>Paciente</li>
<li>Local da consulta</li>
</ul>
  </thead>

  <tbody>
    <% @consultum.each do |consultum| %>
    <dl>
      <tr>
        <dt> <b>Dados da consulta</b> </dt>
        Horário da consulta: <%= consultum.horario %></br>
        Data da consulta: <%= consultum.data %></br>
        Nome do médico responsável pela consulta: <%= consultum.medico.nome %></br>
        Paciente: <%= consultum.paciente.nome %></br>
        Local da consulta: <%= consultum.local %></br>
        <dd><%= link_to 'Mostrar os dados da consulta', consultum %></dd>
        <dd><%= link_to 'Atualizar os dados da consulta', edit_consultum_path(consultum) %></dd>
        <dd><%= link_to 'Desmarcar consulta', consultum, method: :delete, data: { confirm: 'Você tem certeza que deseja desmarcar a consulta?' } %></td>
        </dl>
      </tr>
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Marcar nova consulta', new_consultum_path %>
