<p id="notice"><%= notice %></p>

<p>
  <strong>Horário:</strong>
  <%= @consultum.horario %>
</p>

<p>
  <strong>Data:</strong>
  <%= @consultum.data %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @consultum.medico.nome %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @consultum.paciente.nome %>
</p>

<p>
  <strong>Local:</strong>
  <%= @consultum.local %>
</p>

<%= link_to 'Alterar dados da consulta', edit_consultum_path(@consultum) %> |
<%= link_to 'Voltar', consulta_path %>
