<%= form_with(model: medico, local: true) do |form| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Digite o nome do médico" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :"Digite o CRM do médico" %>
    <%= form.text_field :crm %>
  </div>

  <div class="field">
    <%= form.label :"Especialização do médico" %>
    <%= form.collection_select(:especializacao_id, Especializacao.all, :id, :name, include_blank: "Selecione a especialização do médico") %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar médico", class: "btn btn-primary" %>
  </div>
<% end %>
