<p id="notice"><%= notice %></p>

<u><h1>Médicos</h1></u>

<table>
  <thead>
  <ul>
<li>Nome</li>
<li>CRM</li>
<li>Especialização do médico</li>
</ul>
  </thead>

  <tbody>
    <% @medicos.each do |medico| %>
      <dl>
      <dt><b>Dados do médico</b></dt>
        Nome: <%= medico.nome %></br>
        CRM: <%= medico.crm %></br>
        <dd><%= link_to 'Mostrar os dados do médico', medico %></dd>
        <dd><%= link_to 'Alterar os dados do médico', edit_medico_path(medico) %></dd>
        <dd><%= link_to 'Apagar dados do médico', medico, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </dl>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo médico', new_medico_path %>
