<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @medico.nome %>
</p>

<p>
  <strong>CRM:</strong>
  <%= @medico.crm %>
</p>

<p>
  <strong>Especialização:</strong>
  <%= @medico.especializacao %>
</p>

<%= link_to 'Alterar dados do médico', edit_medico_path(@medico) %> |
<%= link_to 'Voltar', medicos_path %>
