<p>Seja bem-vindo, <%= @email %>!</p>

<p>você pode confirmar o e-mail da sua conta através do link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
